// Font imports
//@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

// * Font families //-------------------------------------*/
@each $slug, $fonts, $weight in
                (HelveticaNeue,HelveticaNeue-Heavy,900),
                (HelveticaNeue,HelveticaNeue-Medium,500),
                (HelveticaNeue, HelveticaNeue-Regular, 400),
                (HelveticaNeue, HelveticaNeue-Light, 300),
                (HelveticaNeue, HelveticaNeue-Thin, 100),
                (HelveticaNeue-Bold, HelveticaNeue-Bold, 700) {
  .font-#{$slug} {
    font-family: "#{$fonts}", $font-family-sans-serif;
    @if variable-exists(weight) {
      font-weight: #{$weight};
    }
  }
}