--- 
title: About 
description: This is the About page. 
    ---

<section class="about-page section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-left wow bounceInLeft">
                    <div class="about-img">
                        <img class="img-responsive" src="img/about.jpg" alt="">
                    </div>
                    <div class="about-info">
                        <ul class="about-info-items">
                            <li class="info-item">
                                <h3>Dr. Rəşad İsmayılzadə</h3>
                                <p>She is an American pathologist and
                                    novelist who writes about medicine.</p>
                            </li>
                            <li class="info-item">
                                <h3>Əlaqə məlumatı</h3>
                                <p>Baku medical plaza, Babək filialı , babək prospekti 92N</p>
                                <p>Mobil: +994 51 667 97 30</p>
                                <ul>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>  
                                    <li>
                                        <a href="">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>                          
                                </ul>
                            </li>
                            <li class="info-item">
                                <h3>İş günləri</h3>
                                <p>Bazar ertəsi - Şənbə <br>
                                    09:00 - 17:00</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="about-right wow fadeIn">
                    <h2>Həkim haqqında</h2>
                    <p>With the Internet spreading like wildfire and reaching every part of 
                        our daily life, more and more traffic is directed to websites in 
                        search for information. Imagine a website without any text and 
                        completely overloaded with pictures. Well Blogs serve as an 
                        unstoppable entity in today’s scenario for online promotion and 
                        branding. They are the latest selling mantra for websites. Many 
                        businesses, manufacturers and wholesalers use blogs to promote their 
                        products, services. Social interest groups also use blogs for airing 
                        their opinion on important issues. Writing catchy blogs is an art as 
                        much as developing a website. So how do you Make Your Blog Popular?
                    </p>
                    <p>Now that I’ve explained the benefits of blogs, the important question 
                        is how to make your blog popular and attract wild floods of traffic 
                        to your blog. Listed below are some valuable tips that will enable 
                        you to become a successful blogger and attract increased traffic to 
                        your blog. 1. Write what your target audience wants</p>
                                            <p>With the Internet spreading like wildfire and reaching every part of 
                        our daily life, more and more traffic is directed to websites in 
                        search for information. Imagine a website without any text and 
                        completely overloaded with pictures. Well Blogs serve as an 
                        unstoppable entity in today’s scenario for online promotion and 
                        branding. They are the latest selling mantra for websites. Many 
                        businesses, manufacturers and wholesalers use blogs to promote their 
                        products, services. Social interest groups also use blogs for airing 
                        their opinion on important issues. Writing catchy blogs is an art as 
                        much as developing a website. So how do you Make Your Blog Popular?
                    </p>
                    <p>Now that I’ve explained the benefits of blogs, the important question 
                        is how to make your blog popular and attract wild floods of traffic 
                        to your blog. Listed below are some valuable tips that will enable 
                        you to become a successful blogger and attract increased traffic to 
                        your blog. 1. Write what your target audience wants</p>
                </div>
            </div>
        </div>
    </div>
</section>