--- 
title: Categories 
description: This is the About page. 
    ---


<section class="categories-page">
    <div class="categorie-cover" style="background-image:url('img/asas.png')"></div>
    <div class="section-wrapper">
        <div class="container">
            <h2 class="section-title">
                Videolar
            </h2>
            <p class="section-info">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            </p>

            <div class="categories-wrapper">
                <div class="row categories-row">
                    <div class="col-sm-9 col-md-9">
                        <div class="row">
                            {{#times 6}}
                            <div class="col-sm-6 col-md-6">
                                <a href="detail.html">
                                    <div class="category-item wow fadeIn" data-wow-delay="0.1s">
                                        <div class="category-item-img">
                                            <img class="img-responsive" src="img/category.png" alt="">
                                            <div class="category-name">
                                                Category
                                            </div>
                                        </div>
                                        <div class="category-item-wrap">
                                            <h3 class="cat-title">Bryce Canyon A Stunning Us Travel Destination</h3>
                                            <p class="cat-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <div class="cat-footer">
                                                <span>by Clayton  /  24 Jun 2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/times}}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="categories-footer">
                                    <nav>
                                        <a class="prev" href='# disabled'><i class='fa fa-chevron-left'></i>PREV</a>
                                        <ul>
                                            <li class='current'><a href=#1>1</a>
                                            <li><a href='#2'>2</a>
                                            <li><a href='#3'>3</a>
                                            <li><a href='#4'>4</a>
                                            <li><a href='#10'>…</a>
                                            <li><a href='#41'>10</a>
                                        </ul>
                                        <a class="next" href='#2'>NEXT<i class='fa fa-chevron-right'></i></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="categories-menu">
                            <h2>Kateqoriyalar</h2>
                            <ul>
                                <li class="active"><a href="">Hamısı</a></li>
                                <li><a href="">Business</a></li>
                                <li><a href="">Design</a></li>
                                <li><a href="">Fashion</a></li>
                                <li><a href="">Photography</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>