--- 
title: Detail 
description: This is the Detail page. 
    ---


<section class="categories-page">
    <div class="categorie-cover" style="background-image:url('img/asas.png')"></div>
    <div class="section-wrapper">
        <div class="container">
            <h2 class="section-title">
                Videolar
            </h2>
            <p class="section-info">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            </p>

            <div class="categories-wrapper">
                <div class="row categories-row">
                    <div class="col-sm-9 col-md-9">
                        <div class="detail wow fadeIn">
                            <div class="detail-img">
                                <img class="img-responsive" src="img/detail.png" alt="">
                                <div class="detail-name">
                                    Category
                                </div>
                            </div>
                            <div class="detail-text">
                                <h1>Bryce Canyon A Stunning Us Travel Destination</h1>
                                <p>
                                    The modern world is in a continuous movement and people everywhere are looking for quick, safe means of accessing accurate information. Prompt information is vital for people who want to keep the pace with a constantly evolving society, and many people are turning to the Internet for help in their quest for knowledge.
                                </p>                      
                                <p>The Internet is not only the best means to quickly access information, it also has the merit of bringing people all over the world together, allowing them to interact in a safe, exciting environment. Desiclassifieds web site promote effective means of expressing ideas and exchanging information, by offering subscribes the opportunity to post their ads on a web page, or to access.</p>
                            </div>
                            <div class="detail-foot">
                                <span>by Clayton  /  24 Jun 2018</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="categories-menu">
                            <h2>Kateqoriyalar</h2>
                            <ul>
                                <li><a href="">Hamısı</a></li>
                                <li><a href="">Business</a></li>
                                <li><a href="">Design</a></li>
                                <li><a href="">Fashion</a></li>
                                <li><a href="">Photography</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>