--- 
title: Home 
description: This is the home page. 
  ---

<section class="home">
  {{!-- home slider --}}
  <div class="home-slider wow fadeIn">
    <div class="home-carousel owl-carousel owl-theme">
      {{#times 3}}
      <div class="carousel-item" >     
       {{!-- style='background-image:url(img/slider-bg.png)' --}}
        <div class="container">
          <div class="row">
            <div class="carousel-item-content">
              <h2>dr. natı musalı</h2>
              <h5>Uzman Ginekoloq</h5>
              <div class="carousel-text">
                <p>
                  Anesthetics have been used for thousands of years. In fact, the first recorded use of anesthetics was actually in the ‘pre-history’ 
                  era, an era of human history predating written text. Early Uses of Herbal Anesthetics
                </p>
                <p>In the pre-history era, anesthetics were herbal in nature. Opium poppies 
                  are known to have been harvested as early as 4200 BC, and these plants were 
                  farmed first in the Sumerian Empire. The first recorded uses of anesthetics 
                  containing opium preparations was in 1500 BC, and by 1100 BC, civilizations in Cyprus 
                  and other locations were farming and harvesting the plants.
                </p>
              </div>
              <a class="btn-i" href="">Ətraflı</a>
            </div>
          </div>
        </div>
      </div>
      {{/times}}      
    </div>
  </div>
  {{!-- end home slider --}}

  {{!-- services --}}
  <div class="services">
    <div class="service-item">
      <div class="wow zoomIn" data-wow-delay="0.1s">
        <div class="service-item-img">
          <img src="img/service1.svg" alt="">
        </div>
        <h3>Doğuş və Qeysəriyyə</h3>
        <p>Creating Remarkable Poster Prints Through 4 Color Poster Printing</p>
      </div>
    </div>
    <div class="service-item">
      <div class="wow zoomIn" data-wow-delay="0.4s">
        <div class="service-item-img">
          <img src="img/service2.svg" alt="">
        </div>
        <h3>Ginekolojik Xəstəliklər</h3>
        <p>Sed ut perspiciatis unde  iste natus error sit voluptatem accusantium 
          doloremque laudantium.
        </p>
      </div>
    </div>
    <div class="service-item">
      <div class="wow zoomIn" data-wow-delay="0.7s">
        <div class="service-item-img">
          <img src="img/service3.svg" alt="">
        </div>
        <h3>Ginekolojik Əməliyyatlar</h3>
        <p>Sed ut perspiciatis unde  iste natus error sit voluptatem 
          accusantium doloremque laudantium.</p>
      </div>
    </div>
    <div class="service-item">
      <div class="wow zoomIn" data-wow-delay="1s">
        <div class="service-item-img">
          <img src="img/service4.svg" alt="">
        </div>
        <h3>Sonsuzluq və Süni  Mayalanma</h3>
        <p>Sed ut perspiciatis unde  iste natus error sit voluptatem 
          accusantium doloremque laudantium.</p>
      </div>
    </div>
  </div>
  {{!-- end services --}}

  {{!-- doctors --}}
  <div class="doctors">
    <div class="container">
      <div class="row">
        <h1 class="section-title">Həkimlər</h1>
        <p class="section-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo. 
        </p>
        <div class="col-sm-6 col-md-6">
          <div class="doctors-item" >
            <div class="doctor-img wow fadeInLeft" >
              <img class="img-responsive" src="img/doctor1.png" alt="">
            </div>
            <div class="wow pulse" data-wow-iteration="1" data-wow-duration="0.25s">
              <h2>Rəşad İsmayılzadə</h2>
              <h5>Uzman Ginekoloq</h5>
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>  
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>                          
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="doctors-item">
            <div class="doctor-img wow fadeInRight" data-wow-delay="0.3s">
              <img class="img-responsive" src="img/doctor2.png" alt="">
            </div>
            <div class="wow pulse" data-wow-iteration="1" data-wow-duration="0.25s">
            <h2>Natı Musalı</h2>
            <h5>Uzman Ginekoloq</h5>
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>  
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>                          
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end doctors --}}

  {{!-- statistics --}}
  <div class="statistics">
    <div class="statistics-layer"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistics-item">
            <div class="statistic-img wow pulse">
              <img class="img-responsive" src="img/statistic1.svg" alt="">
            </div>
            <span class="number">
                <span class='counter-value' data-count="1000">0</span>
            +</span>
            <div class="line"></div>
            <h3 class="wow flipInX">Doğuş</h3>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistics-item">
            <div class="statistic-img wow pulse">
              <img class="img-responsive" src="img/statistic2.svg" alt="">
            </div>
            <span class="number">
                <span class='counter-value' data-count="2018">0</span>              
            </span>
            <div class="line"></div>
            <h3 class="wow flipInX">Kesar</h3>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistics-item">
            <div class="statistic-img wow pulse">
              <img class="img-responsive" src="img/statistic3.svg" alt="">
            </div>
            <span class="number">
                <span class='counter-value' data-count="1105">0</span>                            
            </span>
            <div class="line"></div>
            <h3 class="wow flipInX">Laparoskopik Əməliyyat</h3>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistics-item">
            <div class="statistic-img wow pulse">
              <img class="img-responsive" src="img/statistic4.svg" alt="">
            </div>
            <span class="number">
                <span class='counter-value' data-count="500">0</span>                            
              +</span>
            <div class="line"></div>
            <h3 class="wow flipInX">Süni Mayalanma</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end statistics --}}

  {{!-- Videos --}}
  <div class="videos">
    <div class="container">
      <div class="row">
        <h1 class="section-title">Videolar</h1>
        <p class="section-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo. 
        </p>
        <div class="video-carousel owl-carousel owl-theme">
          {{#times 4}}
          <div class="carousel-row">
            {{#times 6}}
            <div class="col-sm-6 col-md-4">
              <div class="gallery-item wow fadeInUp" data-wow-delay="0.1s">
                <a class="video-link" href="https://www.youtube.com/watch?v=VSmxrs45Q0c">
                  <div class="gallery-icon">
                    <img class="img-responsive" src="img/video-icon.svg" alt="">
                  </div>
                  <div class="gallery-img" style="background-image:url(img/gallery1.jpg)"></div>
                </a>
                <h5 class="gallery-text">The Universe Through A Child S Eyes</h5>
              </div>
            </div>
            {{/times}}
          </div>
          {{/times}}
        </div>
        <a class="btn-r" href="categories.html">
          Bütün videolar
        </a>
      </div>
    </div>
  </div>
  {{!-- End Videos --}}

  {{!-- Photos --}}
  <div class="photos">
    <div class="container">
      <div class="row">
        <h1 class="section-title">Şəkillər</h1>
        <p class="section-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo. 
        </p>
        <div class="photo-carousel owl-carousel owl-theme">
           {{#times 4}}
          <div class="carousel-row">
            {{#times 6}}
            <div class="col-sm-6 col-md-4">
              <div class="gallery-item wow fadeInUp" data-wow-delay="0.1s">
                <a class="photo-link" href="img/gallery1.jpg">
                  <div class="gallery-icon">
                    <img class="img-responsive" src="img/photo-icon.svg" alt="">
                  </div>
                  <div class="gallery-img" style="background-image:url(img/gallery1.jpg)"></div>
                </a>
                <h5 class="gallery-text">The Universe Through A Child S Eyes</h5>
              </div>
            </div>
            {{/times}}            
          </div>
          {{/times}}
        </div>
        <a class="btn-r" href="">Bütün şəkillər</a>
      </div>
    </div>
  </div>
  {{!-- End Photos --}}

  {{!-- Blog --}}
  <div class="blog">
    <div class="container">
      <div class="row">
        <h1 class="section-title">Məqalələr</h1>
        <p class="section-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo. 
        </p>
        <div class="blog-carousel owl-carousel owl-theme">
          {{#times 2}}
          <div class="carousel-row">
            {{#times 6}}
            <div class="col-sm-6 col-md-4">
              <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-details">
                  <div class="blog-text">
                    <h5>Gebelik ve Grip</h5>
                    <p>
                      Toplumda grip olarak da bilinen influenzanın, gebelerde şiddetli 
                      hastalık ve hatta ölüme neden olma ihtimali toplum geneline oranla daha 
                      yüksektir ve erken postpartum dönemde de genel popülasyona oranla ağır 
                      enfeksiyon...
                    </p>
                  </div>
                  <div class="blog-img">
                    <img class="img-responsive" src="img/gallery6.jpg" alt="">
                  </div>
                </div>
                <a href="" class="blog-btn">
                  Daha ətraflı
                </a>
              </div>
            </div>
            {{/times}}          
          </div>
          {{/times}}          
        </div>
        <div class="col-md-12 text-center">
          <a class="btn-r" href="">Bütün məqalələr</a>
        </div>
      </div>
    </div>
  </div>
  {{!-- End Blog --}}

  {{!-- Contact --}}
  <div class="contact">
    <div class="map">
      <div class="contact-items wow bounceInLeft" data-wow-delay="0.7s">
        <div class="contact-item">
          <h5 class="contact-item-title">Ünvan</h5>
          <ul>
            <li class="contact-address">Baku medical plaza, Babək filialı , babək prospekti 92N</li>
          </ul>
        </div>
        <div class="contact-item">
          <h5 class="contact-item-title">Əlaqə</h5>
          <ul>
            <li>Uzman Ginekoloq</li>
            <li>Rəşad İsmayılzadə</li>
            <li>Mobil: 051 667 97 30</li>
            <div class="contact-line"></div>
            <li>Uzman Ginekoloq</li>
            <li>Natı Musalı</li>
            <li>Mobil: 051 650 38 50</li>
          </ul>
        </div>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4178207633336!2d49.851908550625126!3d40.377431479268424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d077c61fef3%3A0xfa4594c97092ca01!2sAF+Business+House!5e0!3m2!1sen!2s!4v1515153642976"
              width="100%" 
              height="100%" 
              frameborder="0" 
              style="border:0" 
              allowfullscreen>
      </iframe>
    </div>
  </div>
  {{!-- End Contact --}}
  
</section>