{% extends "Base/index.html" %}
{% block title %} {{ video.title }} {% endblock %}
{% load static %}
{% block content %}
    <section class="categories-page">
        <div class="categorie-cover" style="background-image:url('{{ page_options.cover.url }}')"></div>
        <div class="section-wrapper">
            <div class="container">
                <h2 class="section-title">
                    {{ video.title }}
                </h2>
                <span class="section-info">{{ video.description|safe }}</span>

                <div class="categories-wrapper">
                    <div class="row categories-row">
                        <div class="col-sm-9 col-md-9">
                            <div class="detail wow fadeIn">
                                <div class="detail-img">
                                    <a class="video-link" href="{{ video.url }}">
                                        <img class="img-responsive" src="{{ video.get_video_thumbnail_url }}" alt="">
                                        <div class="detail-name">
                                            {{ video.category_belongs_to.title }}
                                        </div>
                                    </a>
                                </div>
                                <div class="detail-text">
                                    <h1>{{ video.title }}</h1>
                                    {{ video.description|safe }}
                                </div>
                                <div class="detail-foot">
                                    <span>by {{ video.doctor_belongs_to.get_doctor_name }}  / {{ video.created_at|date:"D d M Y" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="categories-menu">
                                <h2>Kateqoriyalar</h2>
                                <ul>
                                    <li class="{% if request.GET.category %} {{ request.GET.category }} {% else %} none{% endif %}">
                                        <a href="{% url "videos" %}">HAMISI</a></li>
                                    {% for ctg in categories %}
                                        <li class="{% if ctg.slug == video.category_belongs_to.slug %} active {% endif %}">
                                            <a href="{% url "videos" %}?category={{ ctg.slug }}">{{ ctg.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
