{% load tags %}
{% get_footer_data as data %}
<footer class="wow fadeInUp">
    <div class="container">
        <div class="row">
            {% for menu in data.footer_menu %}
                <div class="col-sm-6 col-md-3">
                    <div class="footer-item">
                        <h6 class="list-title">{{ menu.title }}</h6>
                        <ul class="listmenu">
                            {% for sub_menu in menu.menusubitems_set.all %}
                                <li>
                                    <a href="{{ sub_menu.get_absolute_url }}">{{ sub_menu.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    </div>
</footer>