{% load tags %}
{% load static %}
{% get_header_data as data %}
<header>
    <div class="container">
        <div class="head-top">
            <div class="head-top-doctor">
                <ul class="text-right wow fadeInDown">
                    <li>{{ data.doctor_right.profession }}</li>
                    <li class="doct-name">{{ data.doctor_right.get_doctor_name }}</li>
                    <li class="mobil">Mobil:
                        <span>{{ data.doctor_right.phone_number }}</span>
                    </li>
                </ul>
            </div>

            <div class="logo wow fadeIn">
                <a href="{% url "index" %}">
                    <div class="log-container">
                        <img class="img-responsive" src="{% static 'ginekolog/img/rasad_logo.jpeg' %}" alt="logo">
                    </div>
                    <div class="log-container">
                        <img class="img-responsive" src="{% static 'ginekolog/img/nati_logo.jpeg' %}" alt="logo">
                    </div>
                </a>
            </div>

            <div class="head-top-doctor">
                <ul class="text-left wow fadeInDown">
                    <li>{{ data.doctor_left.profession }}</li>
                    <li class="doct-name">{{ data.doctor_left.get_doctor_name }}</li>
                    <li class="mobil">Mobil:
                        <span>{{ data.doctor_left.phone_number }}</span>
                    </li>
                </ul>
            </div>

            <div class="right-logo">
                <img class="img-responsive" src="{% static "ginekolog/img/right-logo.png" %}" alt="">
            </div>

        </div>
    </div>

    <div class="head-bottom">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="search-section">
                        <form method="get" action="{% url "search" %}">
                            <input type="text" name="q" value="{{ request.GET.q }}" id="search" placeholder="Axtar...">
                        </form>
                    </div>

                    <div class="search-btn show-search">
                        <img src="{% static "ginekolog/img/search.svg" %}" alt="">
                    </div>

                    <div class="close-btn">
                        <img src="{% static "ginekolog/img/close.svg" %}" alt="">
                    </div>

                    <div id="navbar" class="navbar-collapse collaps">
                        <ul class="nav navbar-nav">
                            {% for menu in data.header_menu %}
                                <li class="drop">
                                    <a>{{ menu.title }}
                                        {% if menu.contain_dropdown %}
                                            <span class="caret"></span>
                                        {% endif %}
                                    </a>
                                    {% if menu.contain_dropdown %}
                                        <div class="dropdownContain">
                                            <div class="dropOut">
                                                <div class="triangle"></div>
                                                <ul>
                                                    {% for sub_menu in menu.get_childs %}
                                                        {% if not sub_menu.has_own_child %}
                                                            {% if not sub_menu.has_own_parent %}
                                                                <li>
                                                                    <a href="{{ sub_menu.url }}">{{ sub_menu.title }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% else %}
                                                            <li class="drop-child">
                                                                <a>{{ sub_menu.title }}
                                                                    <span class="caret"></span>
                                                                </a>
                                                                <div class="dropdownContainSecond">
                                                                    <div class="dropOutSecond">
                                                                        <ul>
                                                                            {% for child in sub_menu.get_childs %}
                                                                                <li>
                                                                                    <a href="{{ child.url }}">{{ child.title }}</a>
                                                                                </li>
                                                                            {% endfor %}

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>