﻿<footer class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Haqqımızda</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Uzman .dr .Rəşad İsmayılzadə</a>
                        </li>
                        <li>
                            <a href="">Uzman Dr. Natı Musalı</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Ginekolojik Xəstəliklər</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Menstruasiya (aybaşı) pozqunluğu</a>
                        </li>
                        <li>
                            <a href="">Yumurtalığın polikistoz sindromu</a>
                        </li>
                        <li>
                            <a href="">Endometrioz</a>
                        </li>
                        <li>
                            <a href="">Yumurtalıq kistaları</a>
                        </li>
                        <li>
                            <a href="">Myomalar</a>
                        </li>
                        <li>
                            <a href="">Uşaqlıq boynu xəstəlikləri ,Erroziya</a>
                        </li>
                        <li>
                            <a href="">Menopauza</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Ginekolojik Əməliyyatlar</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Laparoskopiya</a>
                        </li>
                        <li>
                            <a href="">Histeroskopiya</a>
                        </li>
                        <li>
                            <a href="">Açıq əməliyyatlar</a>
                        </li>
                        <li>
                            <a href="">Uroginekolojik əməliyyatlar</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Foto və Video Arxiv</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Əməliyyat videoları </a>
                        </li>
                        <li>
                            <a href="">Tv verilişləri</a>
                        </li>
                        <li>
                            <a href="">Müsahibələr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Hamiləlik</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Hamiləlik təqvimi</a>
                        </li>
                        <li>
                            <a href="">Ay Ay hamiləlik</a>
                        </li>
                        <li>
                            <a href="">Daun sindromu skriningi (2li ,3lü və 4lü testlər)</a>
                        </li>
                        <li>
                            <a href="">NST</a>
                        </li>
                        <li>
                            <a href="">Hamiləlikdə infeksiyalar</a>
                        </li>
                        <li>
                            <a href="">Fetal Usm</a>
                        </li>
                        <li>
                            <a href="">Qan qruppası və Rhezus faktor uyğunsuzluğu </a>
                        </li>
                        <li>
                            <a href="">Hamiləlik və yanaşı xəstəliklər</a>
                        </li>
                        <li>
                            <a href="">Hamiləliyin təzyiqli xəstəliləri </a>
                        </li>
                        <li>
                            <a href="">Hamiləlikdə şəkər</a>
                        </li>
                        <li>
                            <a href="">Qalxanabənzər vəzi xəstəlikləri</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Doğuş və Qeysəriyyə</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Doğuş haqqında ümumi məlumat</a>
                        </li>
                        <li>
                            <a href="">Qeysəriyyə haqqında ümumi məlumat</a>
                        </li>
                        <li>
                            <a href="">Doğuşun ağrısızlaşdırılması</a>
                        </li>
                        <li>
                            <a href="">Doğuşmu Qeysəriyyə kəsiyi mı?</a>
                        </li>
                        <li>
                            <a href="">Fotolar</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Sonsuzluq və Süni Mayalanma</h6>
                    <ul class="listmenu">
                        <li>
                            <a href="">Sonsuzluq nədir və müalicəsi nədir</a>
                        </li>
                        <li>
                            <a href="">Aşılama</a>
                        </li>
                        <li>
                            <a href="">Süni mayalanma nədir və kimə edilir</a>
                        </li>
                        <li>
                            <a href="">Süni mayalanma da yeniliklər</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-item">
                    <h6 class="list-title">Əlaqə</h6>
                    <ul class="listmenu contact-listmenu">
                        <li>Baku medical plaza, Babək filialı,</li>
                        <li>babək prospekti 92N</li>
                    </ul>
                    <ul class="listmenu contact-listmenu">
                        <li>Uzman Ginekoloq</li>
                        <li>Rəşad İsmayılzadə</li>
                        <li>Mobil: 051 667 97 30</li>
                        <li>
                            <ul class="contact-social">
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="listmenu contact-listmenu">
                        <li>Uzman Ginekoloq</li>
                        <li>Natı Musalı</li>
                        <li>Mobil: 051 650 38 50</li>
                        <li>
                            <ul class="contact-social">
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>