<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="tags for website">
<meta name="description" content="{{ description }}">
<meta name="author" content="">

<title> {{ title }} </title>

<!-- injector:css -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="css/animate.css"> 
<link rel="stylesheet" href="css/design.min.css">
<!-- endinjector -->

<!-- injector:js -->
<script src="js/min/assets/jquery.min.js"></script>
<script src="js/min/assets/bootstrap.min.js"></script>
<script src="js/min/assets/owl.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/wow.js"></script>
<script src="js/min/app.min.js"></script>
