<header>
    {{!-- head top --}}
    <div class="container">
        <div class="head-top">
            <div class="head-top-doctor">
                <ul class="text-right wow fadeInDown">
                    <li>Uzman Ginekoloq</li>
                    <li class="doct-name">DR. Rəşad İsmayılzadə</li>
                    <li class="mobil">Mobil:
                        <span>051 667 97 30</span>
                    </li>
                </ul>
            </div>

            <div class="logo wow fadeIn">
                <a href="index.html">
                    <img class="img-responsive" src="img/logo.png" alt="logo">
                </a>
            </div>

            <div class="head-top-doctor">
                <ul class="text-left wow fadeInDown">
                    <li>Uzman Ginekoloq</li>
                    <li class="doct-name">DR. Natı Musalı</li>
                    <li class="mobil">Mobil:
                        <span>051 650 38 50</span>
                    </li>
                </ul>
            </div>

            <div class="right-logo">
                <img class="img-responsive" src="img/right-logo.png" alt="">
            </div>

        </div>
    </div>
    {{!-- End head top --}} {{!-- head bottom --}}
    <div class="head-bottom">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="search-section">
                        <form action="">
                            <input type="search" placeholder="Axtar...">
                        </form>
                    </div>

                    <div class="search-btn show-search">
                        <img src="img/search.svg" alt="">
                    </div>

                    <div class="close-btn">
                        <img src="img/close.svg" alt="">
                    </div>

                    <div id="navbar" class="navbar-collapse collaps">
                        <ul class="nav navbar-nav">
                            <li class="drop">
                                <a>Haqqımızda
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li>
                                                <a href="about.html">Uzman Dr. Rəşad İsmayılzadə</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Uzman Dr. Natı Musalı</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="drop">
                                <a>Hamiləlik
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li>
                                                <a href="">Hamiləlik təqvimi </a>
                                            </li>
                                            <li>
                                                <a href="">Ay Ay hamiləlik</a>
                                            </li>
                                            <li>
                                                <a href="">Daun sindromu skriningi (2li ,3lü və 4lü testlər)</a>
                                            </li>
                                            <li>
                                                <a href="">NST</a>
                                            </li>
                                            <li>
                                                <a href="">Hamiləlikdə infeksiyalar</a>
                                            </li>
                                            <li>
                                                <a href="">Fetal Usm</a>
                                            </li>
                                            <li>
                                                <a href="">Qan qruppası və Rhezus faktor uyğunsuzluğu </a>
                                            </li>
                                            <li class="drop-child">
                                                <a>Hamiləlik və yanaşı xəstəliklər
                                                    <span class="caret"></span>
                                                </a>
                                                <div class="dropdownContainSecond">
                                                    <div class="dropOutSecond">
                                                        <ul>
                                                            <li>
                                                                <a href="">Hamiləliyin təzyiqli xəstəliləri </a>
                                                            </li>
                                                            <li>
                                                                <a href="">Hamiləlikdə şəkər</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Qalxanabənzər vəzi xəstəlikləri </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="drop">
                                <a>Doğuş və Qeysəriyyə
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li>
                                                <a href="">Doğuş haqqında ümumi məlumat</a>
                                            </li>
                                            <li>
                                                <a href="">Qeysəriyyə haqqında ümumi məlumat</a>
                                            </li>
                                            <li>
                                                <a href="">Doğuşun ağrısızlaşdırılması</a>
                                            </li>
                                            <li>
                                                <a href="">Doğuşmu Qeysəriyyə kəsiyi mı?</a>
                                            </li>
                                            <li>
                                                <a href="">Fotolar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="drop">
                                <a>Ginekolojik Xəstəliklər
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li>
                                                <a href="">Menstruasiya (aybaşı) pozqunluğu</a>
                                            </li>
                                            <li>
                                                <a href="">Yumurtalığın polikistoz sindromu </a>
                                            </li>
                                            <li>
                                                <a href="">Endometrioz</a>
                                            </li>
                                            <li>
                                                <a href="">Yumurtalıq kistaları</a>
                                            </li>
                                            <li>
                                                <a href="">Myomalar</a>
                                            </li>
                                            <li>
                                                <a href="">Uşaqlıq boynu xəstəlikləri ,Erroziya</a>
                                            </li>
                                            <li>
                                                <a href="">Menopauza</a>
                                            </li>
                                            <li>
                                                <a href="">Laparoskopiya</a>
                                            </li>
                                            <li>
                                                <a href="">Histeroskopiya</a>
                                            </li>
                                            <li>
                                                <a href="">Açıq əməliyyatlar</a>
                                            </li>
                                            <li>
                                                <a href="">Uroginekolojik əməliyyatlar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="drop">
                                <a href="#">Sonsuzluq və Süni Mayalanma
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <ul>
                                            <li>
                                                <a href="">Sonsuzluq nədir və müalicəsi nədir</a>
                                            </li>
                                            <li>
                                                <a href="">Aşılama</a>
                                            </li>
                                            <li>
                                                <a href="">Süni mayalanma nədir və kimə edilir </a>
                                            </li>
                                            <li>
                                                <a href="">Süni mayalanma da yeniliklər</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>