{% extends "Pages/about/index.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}
    <section class="about-page wow fadeIn">
        <div class="flatpage-cover" style="background-image:url('{{ flatpage.cover.url }}')"></div>
        <div class="container section-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-right">
                        <h2>{{ flatpage.title }}</h2>
                        {{ flatpage.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
