<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock %}</title>

    {% load static %}

    <!-- injector:css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "ginekolog/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "ginekolog/css/design.min.css" %}">
    <!-- endinjector -->

    <!-- injector:js -->
    <script src="{% static "ginekolog/js/min/assets/jquery.min.js" %}"></script>
    <script src="{% static "ginekolog/js/min/assets/bootstrap.min.js" %}"></script>
    <script src="{% static "ginekolog/js/min/assets/owl.min.js" %}"></script>
    <script src="{% static "ginekolog/js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "ginekolog/js/numScroller.js" %}"></script>
    <script src="{% static "ginekolog/js/wow.js" %}"></script>
    <script src="{% static "ginekolog/js/min/app.min.js" %}"></script>
</head>
<body>
{% block header %}
    {% include "_partials/header/header.html" %}
{% endblock %}
{% block content %}
    {% include "Pages/home/index.html" with doctors=doctors services=services countables=c_services videos=videos pictures=pictures posts=posts  %}
{% endblock %}

{% block footer %}
    {% include "_partials/footer/footer.html" %}
{% endblock %}
</body>
</html>