{% extends "Base/index.html" %}

{% block title %} About {% endblock %}

{% block content %}
    <section class="about-page section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-left wow bounceInLeft">
                        {% if doctor.profile_image %}
                            <div class="about-img">
                                <img class="img-responsive" src="{{ doctor.profile_image.url }}" alt="">
                            </div>
                        {% endif %}
                        <div class="about-info">
                            <ul class="about-info-items">
                                <li class="info-item">
                                    <h3>{{ doctor.get_doctor_name }}</h3>
                                    <p>{% if doctor.description %}
                                        {{ doctor.description }}
                                    {% endif %}
                                    </p>
                                </li>
                                <li class="info-item">
                                    <h3>Əlaqə məlumatı</h3>
                                    <p>{{ doctor.address|safe }}</p>
                                    <p>Mobil: {{ doctor.phone_number }}</p>
                                    <p>Email: {{ doctor.email }}</p>
                                    <ul>
                                        {% for sn in doctor.socialnetworkaddresses_set.all %}
                                            <li>
                                                <a href="{{ sn.url }}">
                                                    <i class="fa fa-{{ sn.title }}"></i>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="info-item">
                                    <h3>İş günləri</h3>
                                    <p>
                                        {% if doctor.work_grafic %}
                                            {{ doctor.work_grafic|safe }}
                                        {% endif %}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about-right wow fadeIn">
                        <h2>Həkim haqqında</h2>
                        {{ doctor.about|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}