.about-page {
  color: #2d2d53;
  .flatpage-cover {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    @include breakpoint(visible-till-md){
      height: 250px;
    }
    @include breakpoint(visible-xs){
      height: 90px;
    }
  }
  .about-left {
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(192, 192, 192, 0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(192, 192, 192, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(192, 192, 192, 0.5);
    .about-img {
      width: 100%;
      height: 387px;
      overflow: hidden;
      @include breakpoint(visible-till-md) {
        height: auto;
      }
    }
    .about-info {
      padding: 40px 16px;
      @include breakpoint(visible-xs) {
        padding: 20px 16px;
      }
      &-items {
        .info-item {
          margin-bottom: 50px;
          h3 {
            font-size: 28px;
            color: #2d2d53;
            margin-top: 0;
            margin-bottom: 10px;
            @include breakpoint(visible-xs) {
              font-size: 22px;
            }
          }
          p {
            font-size: 20px;
            line-height: 1.3;
            color: #2d2d53;
            margin: 15px 0;
            font-family: 'HelveticaNeue-Thin';
            @include breakpoint(visible-xs) {
              font-size: 16px;
              margin: 10px 0;
            }
          }
          ul {
            display: flex;
            margin: 15px 0;
            @include breakpoint(visible-xs) {
              margin: 10px 0;
            }
            li {
              margin-right: 20px;
              a {
                transition: all .2s ease;
                color: #7c7e81;
                font-size: 24px;
                &:hover {
                  color: #2d2d53;
                }
                @include breakpoint(visible-xs) {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  .about-right {
    padding-left: 40px;
    @include breakpoint(visible-till-md) {
      padding: 0;
      margin-top: 30px;
    }
    h2 {
      margin: 0;
      font-size: 25px;
      color: #2d2d53;
      padding-bottom: 30px;
      border-bottom: 1px solid #d8d8d8;
      @include breakpoint(visible-xs) {
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
    p {
      margin: 30px 0;
      font-size: 20px;
      font-family: 'HelveticaNeue-Thin';
      @include breakpoint(visible-xs) {
        font-size: 16px;
        margin: 20px 0;
      }
    }
  }
}