.categories-page {
  .categorie-cover {
    height: 306px;
    width: 100%;
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
  }
  .categories-wrapper {
    padding-top: 70px;
    .categories-row {
      display: flex;
      @include breakpoint(visible-xs) {
        flex-direction: column-reverse;
      }
    }
    .category-item {
      height: 540px;
      margin-bottom: 30px;
      transition: all 0.25s;
      @include breakpoint(visible-from-xs) {
        &:hover {
          z-index: 999;
          transform: scale(1.03);
        }
      }
      @include breakpoint(visible-xs) {
        height: auto;
      }
      &-img {
        overflow: hidden;
        height: 270px;
        position: relative;
        @include breakpoint(visible-till-md) {
          height: 180px;
        }
        @include breakpoint(visible-xs) {
          height: auto;
        }

        .category-name {
          color: #ffffff;
          text-align: center;
          letter-spacing: 1.1px;
          font-family: 'HelveticaNeue-Medium';
          font-size: 11.3px;
          font-weight: 500;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 4px 17px;
          position: absolute;
          top: 25px;
          left: 25px;
          border-radius: 30px;
        }
      }
      &-wrap {
        padding: 30px;
        @include breakpoint(visible-xs) {
          padding: 15px 10px;
        }
        .cat-title {
          font-size: 20px;
          line-height: 1.5;
          color: #333333;
          margin-bottom: 10px;
        }
        .cat-text {
          font-size: 15px;
          font-weight: 300;
          line-height: 1.63;
          letter-spacing: 0.1px;
          color: #666666;
          margin-bottom: 35px;
        }
        .cat-footer {
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          padding: 20px 0;
          span {
            color: #333333;
            letter-spacing: 1.4px;
            font-weight: 500;
            font-size: 14px;
            font-family: 'HelveticaNeue-Medium';
          }
        }
      }
    }
    .detail {
      color: #333333;
      &-img {
        margin-bottom: 60px;
        @include breakpoint(visible-xs) {
          margin-bottom: 30px;
        }
        .detail-name {
          color: #ffffff;
          text-align: center;
          letter-spacing: 2.3px;
          font-size: 22.6px;
          font-weight: 500;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 7px 35px;
          position: absolute;
          top: 50px;
          left: 50px;
          border-radius: 30px;
          @include breakpoint(visible-xs) {
            padding: 7px 25px;
            font-size: 16px;
            top: 15px;
            left: 15px;
          }
        }
      }
      &-text {
        h1 {
          border-bottom: 1px solid #d8d8d8;
          line-height: 1.5;
          font-weight: bold;
          font-size: 40px;
          margin-bottom: 10px;
          @include breakpoint(visible-xs) {
            font-size: 30px;
            line-height: 1.4;
          }
        }
        p {
          font-size: 20px;
          line-height: 1.63;
          letter-spacing: 0.3px;
          margin: 15px 0;
          @include breakpoint(visible-xs) {
            font-size: 20px;
            line-height: 1.4;
          }
        }
      }
      &-foot {
        margin-top: 40px;
        padding: 35px 0;
        border-top: 1px solid #d8d8d8;
        color: #333333;
        @include breakpoint(visible-xs) {
          padding: 15px 0;
        }
        span {
          color: #333333;
          letter-spacing: 2.6px;
          font-weight: 500;
          font-size: 26px;
          font-family: 'HelveticaNeue-Medium';
          @include breakpoint(visible-xs) {
            font-size: 22px;
          }
        }
      }
    }
    .categories-menu {
      padding-left: 30px;
      @include breakpoint(visible-xs) {
        padding: 0;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.75;
        letter-spacing: 1.4px;
        color: #333333;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      ul {
        li {
          position: relative;
          margin: 5px 0;
          &:before {
            position: absolute;
            content: "";
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #666666;
          }
          &.active, &:hover {
            &:before {
              border-left: 5px solid #35cc62;
            }
            a {
              color: #35cc62;
            }
          }
          a {
            padding-left: 15px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            font-family: 'HelveticaNeue-Medium';
            line-height: 1.54;
            letter-spacing: 1.4px;
            color: #666666;
            transition: all .1s ease;
          }
        }
      }
    }
  }

  .categories-footer {
    margin-top: 20px;
    padding: 60px 0;
    border-top: 1px solid #d8d8d8;
    color: #333333;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      .prev, .next {
        letter-spacing: 1.3px;
        font-family: 'HelveticaNeue-Medium';
        line-height: 1;
        i {
          margin: 0 5px;
          font-size: 12px;
        }
      }
      .prev {
        margin-right: 20px;
      }
      .next {
        margin-left: 20px;
      }
      ul {
        display: flex;
        li {
          a {
            font-family: 'HelveticaNeue-Medium';
            line-height: 1;
            letter-spacing: 0.7px;
            font-weight: 500;
            padding: 3px 10px;
            font-size: 14px;
            border-bottom: 1.9px solid transparent;
            transition: all .2s ease;
          }
          &.current {
            a {
              color: #35cc62;
              border-bottom: 1.9px solid #35cc62;
            }
          }
          &:hover {
            a {
              color: #35cc62;
            }
          }
        }
      }
    }
  }
}