// footer
footer{
    background-color: #26292e;
    padding: 60px 0 50px 0;
    .footer-item{
        margin-bottom: 50px;
        .list-title{
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 15px;
        }
        .listmenu{
            li{
                font-size: 12px;
                font-weight: 300;
                color: #9b9b9b;
                &:before{
                    content: "• ";
                    margin-right: 5px;
                    color: #d8d8d8;
                    font-size: 13px;
                }
                a{
                    font-size: 12px;
                    font-weight: 300;
                    color: #9b9b9b;
                    transition:all .25s;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .contact-listmenu{
            margin-bottom: 20px;
            li{
                &:before{
                    color: transparent;
                }
                &:first-child{
                    &:before{
                        color: #d8d8d8;
                    }
                }
            }
        }
        .contact-social{
            float: left;
            display: flex;
            li{
                a{
                    font-size: 14px;
                    transition:all .25s;                    
                    &:hover{
                        color: white;
                    }
                }
                &:before{
                    color: transparent;
                }
                &:first-child{
                    &:before{
                        color: transparent;
                    }
                }
            }
        }
    }
}