header {
  .head-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    .right-logo {
      width: 120px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include breakpoint(visible-xs) {
        display: none;
      }
    }
    .logo {
      width: 175px;
      margin: 0px;
      @include breakpoint(visible-till-md) {
        margin: 0px;
        width: 140px;
      }
      @include breakpoint(visible-xs) {
        margin: 0px;
        width: 120px;
      }
      a {
        display: flex;
        .log-container {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
        }
      }
    }
    &-doctor {
      margin: 0 5px;
      ul {
        display: flex;
        flex-direction: column;
        li {
          font-size: 12px;
          line-height: normal;
          font-weight: 300;
          @include breakpoint(visible-xs) {
            font-size: 10px;
          }
        }
        .doct-name {
          font-weight: bold;
          font-size: 20px;
          margin-top: 6px;
          margin-bottom: 9px;
          text-transform: uppercase;
          @include breakpoint(visible-xs) {
            font-size: 11px;
          }
        }
        .mobil {
          font-size: 14px;
          span {
            font-weight: normal;
            font-size: 15px;
            @include breakpoint(visible-xs) {
              font-size: 12px;
            }
          }
          @include breakpoint(visible-xs) {
            font-size: 12px;
          }
        }
      }
    }
  }
  .head-bottom {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;

    .navbar {
      background: none;
      border: none;
      margin: 0;
      min-height: auto;
      height: 70px;
      @include breakpoint(visible-till-md) {
        width: 100%;
      }
      .navbar-header {
        float: right;
        .navbar-toggle {
          border: none;
          outline: none;
          background: none;
          width: 23px;
          height: 23px;
          margin: 22px 10px;
          padding: 0;
          span {
            background-color: #231F20;
          }
          @include breakpoint(visible-till-md) {
            display: block;
          }
        }
      }
      .search-btn, .close-btn {
        float: right;
        margin: 24px 0;
        cursor: pointer;
        z-index: 2;
        width: 22px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      .search-btn {
        opacity: 0;
        visibility: hidden;
        &.show-search {
          opacity: 1;
          visibility: visible;
        }
      }
      .close-btn {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: 0;
        @include breakpoint(visible-till-md) {
          right: 45px;
        }
        &.show-search {
          opacity: 1;
          visibility: visible;
        }
      }

      .search-section {
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        height: 70px;
        width: calc(100% - 40px);
        z-index: 2;
        float: left;
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        transition: all 0.3s ease-in-out;
        @include breakpoint(visible-till-md) {
          width: calc(100% - 80px);
        }
        &.show-search {
          opacity: 1;
          visibility: visible;
        }
        form {
          height: 100%;
          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            background: none;
            padding: 3px 30px;
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            text-align: left;
            color: #3f3f3f;
          }
        }
      }

      .collaps {
        .nav {
          @include breakpoint(visible-till-md) {
            display: none;
          }
        }
      }

      .navbar-collapse {
        padding: 0;
        border: none;
        float: left;
        @include breakpoint(visible-till-md) {
          width: 100%;
        }
        .nav {
          @include breakpoint(visible-till-md) {
            width: 100%;
            background: #b63877;
            padding: 10px 20px;
            position: absolute;
            z-index: 99;
            margin: 0;
            margin-top: 1px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          li {
            -webkit-transition: padding .05s linear;
            -moz-transition: padding .05s linear;
            -ms-transition: padding .05s linear;
            -o-transition: padding .05s linear;
            transition: padding .05s linear;
            &.drop {
              position: relative;
            }
            a {
              -webkit-transition: all .1s ease-out;
              -moz-transition: all .1s ease-out;
              -ms-transition: all .1s ease-out;
              -o-transition: all .1s ease-out;
              transition: all .1s ease-out;
              font-size: 15px;
              color: #3f3f3f;
            }
          }
          & > li {
            display: inline-block;
            margin-right: 35px;
            @include breakpoint(visible-till-md) {
              float: left;
              display: block;
              clear: both;
            }
            @include breakpoint(visible-from-md) {
              &:last-child{
                &>.dropdownContain{
                  right: 0;
                  .dropOut{
                    .triangle{
                      right: 15px;
                      left: auto;
                    }
                  }
                }
                .drop-child {
                  .dropdownContainSecond {
                    min-width: auto;
                    right: 280px;
                    left: auto;
                  }
                }
              }
              &:hover {
                & > .dropdownContain {
                  top: 63px;
                  & > .dropOut {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 8px;
                  }
                }
              }
            }
            &.active {
              a {
                background: none;
                color: #3f3f3f;
              }
            }
            & > a {
              cursor: pointer;
              line-height: 70px;
              padding: 0;
              height: 70px;
              font-weight: bold;

              @include breakpoint(visible-till-md) {
                line-height: 35px;
                height: 35px;
                color: white;
              }
              &:before {
                content: '';
                display: block;
                position: relative;
                width: 0;
                top: 3em;
                border-bottom: 1px solid #3f3f3f;
                transition: width 0.4s;
                @include breakpoint(visible-till-md) {
                  top: 2em;
                  display: none;
                }
              }
              &:hover, &:focus {
                background: none;
                color: #3f3f3f;
                @include breakpoint(visible-till-md) {
                  color: white;
                }
                &:before {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #b63877;
  top: -8px;
  left: 15px;
  @include breakpoint(visible-till-md) {
    border-bottom-color: white;
  }
}

.dropdownContain {
  min-width: 280px;
  position: absolute;
  z-index: 2;
  top: -600px;
  @include breakpoint(visible-till-md) {
    top: 0;
    position: relative;
    width: 100%;
  }
  &.mobile-dropdown {
    .dropOut {
      @include breakpoint(visible-till-md) {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        margin-top: 0;
      }
    }
  }
  @include breakpoint(visible-till-md) {
    min-width: auto;
    position: relative;
    top: 0;
  }
}

.dropOut {
  width: 100%;
  background-color: #b63877;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  @include breakpoint(visible-till-md) {
    max-height: 0;
    background: white;
  }
}

.dropOut ul {
  width: 100%;
  float: left;
  padding: 10px 0;
}

.dropOut ul li {
  text-align: left;
  width: 100%;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
  &:hover {
    background: darken(#b63877, 5%);
    @include breakpoint(visible-till-md) {
      background: darken(white, 5%);
    }
  }
  a {
    cursor: pointer;
    display: block;
    color: white !important;
    padding: 7px 15px !important;
    font-weight: normal !important;
    @include breakpoint(visible-till-md) {
      color: #3f3f3f !important;
    }
  }
}

.drop-child {
  position: relative;
  @include breakpoint(visible-from-md) {
    &:hover {
      & > .dropdownContainSecond {
        top: -10px;
        @include breakpoint(visible-till-md) {
          top: 100%;
        }
        .dropOutSecond {
          opacity: 1;
          margin-top: 0;
        }
      }
    }
  }
  .dropdownContainSecond {
    position: absolute;
    top: -1000px;
    left: 100%;
    @include breakpoint(visible-from-md) {
      min-width: 280px;
    }
    @include breakpoint(visible-till-md) {
      position: relative;
      top: 0;
      left: 0;
    }
    .dropOutSecond {
      -webkit-transition: all .1s ease-out;
      -moz-transition: all .1s ease-out;
      -ms-transition: all .1s ease-out;
      -o-transition: all .1s ease-out;
      transition: all .1s ease-out;
      opacity: 0;
      background-color: #b63877;
      float: left;
      @include breakpoint(visible-till-md) {
        max-height: 0;
        background: white;
        visibility: hidden;
      }
      ul {
        @include breakpoint(visible-till-md) {
          padding-left: 20px;
        }
        li {
          @include breakpoint(visible-till-md) {
            width: 100%;
          }
        }
      }
      .triangle {
        border-right: 8px solid #b63877;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        border-left: none;
        top: 5px;
        left: -8px;
      }
    }
    &.mobile-dropdownSecond {
      .dropOutSecond {
        @include breakpoint(visible-till-md) {
          opacity: 1;
          visibility: visible;
          margin-top: 0;
          max-height: 400px;
        }
      }
    }
  }
}