// home page
.home {
  overflow: hidden;
}

// home slider
.home-slider {

  .carousel-item {
    position: relative;
    width: 100%;

    &:hover {
      .carousel-backg{
        transform: scale(1.1);
      }
    }
    .carousel-backg {
      transition: all .3s ease;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: contain;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADB2B6', endColorstr='#ABAEB3', GradientType=0);
    }

    &-content {
      height: 613px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include breakpoint(visible-till-md) {
        height: 460px;
      }
      @include breakpoint(visible-xs) {
        padding: 20px;
      }
      h2 {
        color: $blue-color;
        font-weight: bold;
        text-transform: uppercase;
      }
      h5 {
        font-weight: bold;
        color: $dark-color;
      }
      .carousel-text {
        margin-top: 45px;
        width: 50%;
        height: 115px;
        overflow-y: hidden;
        p {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.79;
          letter-spacing: normal;
          text-align: left;
          color: $light-color;
        }
      }
      .btn-i {
        width: 176px;
        height: 48px;
        margin-top: 50px;
        padding: 0;
        text-align: center;
        background: #2cc9de;
        &:hover {
          background: darken(#2cc9de, 8%);
        }
      }
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    .owl-dot {
      span {
        width: 8.4px;
        height: 8px;
        // opacity: 0.39;
        background-color: #999999;
      }
      &.active {
        span {
          background: $red-color !important;
        }
      }
      &:hover {
        span {
          background: $red-color !important;
        }
      }
    }
  }
}

// services
.services {
  display: flex;
  color: white;
  flex-wrap: wrap;
  .service-item {
    width: 25%;
    height: 360px;
    @include breakpoint(visible-till-md) {
      width: 50%;
    }
    @include breakpoint(visible-xs) {
      width: 100%;
      height: auto;
      padding: 30px 0;
    }
    & > div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .service-item-img {
      width: 73px;
      height: 73px;
      background: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3 {
      letter-spacing: -1.5px;
      font-size: 25px;
      margin: 25px 0;
      text-align: center;
      @include breakpoint(visible-xs) {
        margin: 20px 0;
        font-size: 22px;
      }
    }
    p {
      line-height: 2.14;
      font-size: 14px;
      padding: 0 45px;
      text-align: center;
    }
    &:first-child {
      background-image: linear-gradient(132deg, #17ead9, #6078ea);
    }
    &:nth-child(2) {
      background-image: linear-gradient(312deg, #23bcba, #45e994);
    }
    &:nth-child(3) {
      background-image: linear-gradient(132deg, #ffa7e7, #ea6362);
    }
    &:nth-child(4) {
      background-image: linear-gradient(132deg, #efbfd5, #9d61fd);
    }
  }
}

// doctors
.doctors {
  padding: 90px 0 40px 0;
  text-align: center;
  @include breakpoint(visible-till-md) {
    padding: 30px 0 0px 0;
  }
  &-item {
    margin-bottom: 50px;
    .doctor-img {
      margin: 0 auto;
      width: 391px;
      height: 391px;
      border-radius: 50%;
      box-shadow: 0 6px 22px -12px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      @include breakpoint(visible-till-md) {
        width: 300px;
        height: auto;
      }
      @include breakpoint(visible-xs) {
        width: 250px;
      }
    }
    h2 {
      margin: 50px 0 12px;
      font-size: 35px;
      font-weight: 300;
      color: $light-text;
      @include breakpoint(visible-till-md) {
        font-size: 28px;
      }
      @include breakpoint(visible-xs) {
        margin: 30px 0 10px;
      }
    }
    h5 {
      font-size: 19.6px;
      font-weight: 300;
      letter-spacing: -1.2px;
      color: $light-text;
      @include breakpoint(visible-till-md) {
        font-size: 16px;
      }
    }
    ul {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      @include breakpoint(visible-xs) {
        margin-top: 15px;
      }
      li {
        margin: 0 10px;
        a {
          color: $social-color;
          font-size: 14px;
          transition: all .2s ease;
          &:hover {
            color: darken($social-color, 7%);
          }
        }
      }
    }
  }
}

// statistics
.statistics {
  position: relative;
  background: linear-gradient(108deg, #17ead9, #6078ea);
  padding: 140px 0;
  @include breakpoint(visible-till-md) {
    padding: 70px 0;
  }
  @include breakpoint(visible-xs) {
    padding: 50px 0 20px 0;
  }
  &-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    opacity: 0.46;
    mix-blend-mode: multiply;
    background-size: cover;
    background-position: right;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/statistics-bg.png);
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(visible-xs) {
      margin-bottom: 40px;
    }
    .statistic-img {
      width: 132px;
      height: 132px;
      display: flex;
      justify-content: center;
      @include breakpoint(visible-till-md) {
        width: 70px;
        height: 70px;
      }
    }
    .number {
      margin-top: 18px;
      font-size: 60px;
      letter-spacing: -1.2px;
      text-align: center;
      color: white;
      @include breakpoint(visible-till-md) {
        font-size: 35px;
      }
    }
    .line {
      margin-bottom: 30px;
      width: 83.2px;
      height: 6px;
      background-color: #ffffff;
      @include breakpoint(visible-till-md) {
        height: 4px;
      }
      @include breakpoint(visible-xs) {
        margin-bottom: 10px;
      }
    }
    h3 {
      font-size: 25px;
      letter-spacing: -1.5px;
      text-align: center;
      color: white;
      @include breakpoint(visible-till-md) {
        font-size: 20px;
      }
    }
  }
}

// videos
.videos {
  padding: 90px 0 20px;
  text-align: center;
  @include breakpoint(visible-till-md) {
    padding: 30px 0 0;
  }
}

// photos blog
.photos, .blog {
  padding: 90px 0 20px;
  text-align: center;
  @include breakpoint(visible-till-md) {
    padding: 60px 0 10px;
  }
}

// blog
.blog {
  text-align: left;
  &-item {
    background-color: #ffffff;
    margin-bottom: 45px;
    box-shadow: 0 6px 22px -12px rgba(0, 0, 0, 0.5);
    transition: all 0.25s;
    @include breakpoint(visible-from-xs) {
      &:hover {
        z-index: 999;
        transform: scale(1.05);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      }
    }
    .blog-details {
      padding: 25px 35px;
      .blog-text {
        height: 160px;
        overflow-y: hidden;
      }
      h5 {
        font-size: 25px;
        color: $text-color;
        margin-bottom: 25px;
      }
      p {
        font-size: 15px;
        color: $text-color;
      }
      .blog-img {
        margin-top: 22px;
        height: 164px;
        object-fit: contain;
        overflow: hidden;
      }
    }
    .blog-btn {
      display: block;
      width: 100%;
      height: 43px;
      line-height: 43px;
      background-color: #f5a623;
      font-size: 15px;
      text-align: center;
      color: #ffffff;
      transition: all 0.25s;
      &:hover {
        background: darken(#f5a623, 9%);
      }
    }
  }
}

// contact
.contact {
  padding: 140px 0;
  @include breakpoint(visible-till-md) {
    padding: 80px 0;
  }
  @include breakpoint(visible-xs) {
    padding-top: 40px;
    padding-bottom: 420px;
  }
  .map {
    position: relative;
    width: 100%;
    height: 740px;
    @include breakpoint(visible-till-md) {
      height: 450px;
    }
    @include breakpoint(visible-xs) {
      height: 350px;
    }
    .contact-items {
      background-color: #f2f2f2;
      box-shadow: 0 0 19px -10px rgba(0, 0, 0, 0.5);
      padding: 135px 90px;
      position: absolute;
      width: 531px;
      left: 40px;
      top: -30px;
      @include breakpoint(visible-till-md) {
        padding: 75px 15px;
        width: 300px;
      }
      @include breakpoint(visible-xs) {
        padding: 25px 15px;
        width: 100%;
        left: 0;
        top: 96%;
      }
      .contact-item {
        margin-bottom: 50px;
        @include breakpoint(visible-till-md) {
          margin-bottom: 0;
          .contact-address {
            white-space: pre-wrap;
          }
        }
        &-title {
          font-size: 24px;
          line-height: 1.56;
          color: #212121;
          @include breakpoint(visible-till-md) {
            font-size: 20px;
          }
        }
        .contact-line {
          width: 114px;
          height: 1px;
          background-color: #ff006f;
          margin: 30px 0;
          @include breakpoint(visible-till-md) {
            margin: 15px 0;
          }
        }
      }
      ul {
        li {
          font-size: 19.2px;
          font-weight: 300;
          line-height: 1.95;
          color: #212121;
          @include breakpoint(visible-till-md) {
            font-size: 17px;
          }
        }
      }
    }
  }
}

// addition css
.videos, .photos, .blog {
  .owl-nav {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    @include breakpoint(visible-till-md) {
      display: none;
    }
    .owl-prev, .owl-next {
      position: absolute;
      background: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .owl-prev {
      left: -30px;
    }
    .owl-next {
      right: -30px;
    }
  }
}

.blog {
  .owl-nav {
    top: 46%;
  }
}