* {
    padding: 0;
    margin: 0;
}

html,body{
    font-family: 'HelveticaNeue';
    color: $black-color;
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
    &:hover,&:focus{
        text-decoration: none;
        color: inherit;
    }
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: normal;
}

.btn-i{
    line-height: 2.5;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: $green-color;
    padding: 0px 40px;
    transition: all .3s ease; 
    &:hover,&:focus{
        color: white;
        background-color: darken($green-color,7%);
    }
}

.btn-r{
    padding: 15px 60px;
    font-size: 25px;
    letter-spacing: -1.5px;
    transition: all .3s ease;     
    text-align: center;
    color: white;
    border-radius: 34px;
    background-color: $light-blue-color;
    @include breakpoint(visible-till-md){
        padding: 10px 40px;
        font-size: 20px;
    }

    @include breakpoint(visible-xs){
        padding: 7px 35px;
        font-size: 18px;
    }
    &:hover,&:focus{
        color: white;
        background: darken($light-blue-color,7%);
    }

}

.section-title{
    font-size: 45px;
    font-weight: 300;
    color: #494949;
    text-align: center;
    @include breakpoint(visible-xs){
        font-size: 35px;
    }
}
.section-text{
    padding: 0 70px;
    text-align: center;
    margin: 15px 0 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.88;
    color: $light-text;
    @include breakpoint(visible-till-md){
        padding: 0 20px;
    }
    @include breakpoint(visible-xs){
        font-size: 14px;
    }
}

.gallery-item{
    margin-bottom:45px;
    @include breakpoint(visible-from-md){
        &:hover{
            .gallery-img{
                z-index:999;
                transform:scale(1.05);
                box-shadow:0px 0px 10px rgba(0,0,0,0.3);
            }
        }  
    }     
    
    .gallery-icon{
        transition: all 0.25s;                
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .gallery-img{
        transition: all 0.25s;                        
        height: 202px;
        object-fit: contain;
        background-size: cover;
        box-shadow: 0 6px 22px -12px rgba(0, 0, 0, 0.5);
    }
    .gallery-text{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.2px;
        text-align: center;
        color: #494949;
    }
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
/* overlay animate in */
    .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

// common class for pages

.section-wrapper{
    padding: 80px 10px;
    @include breakpoint(visible-xs){
        padding: 30px 10px;
    }
    .section-title{
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
        color: #494949;
    }
    .section-info{
        font-size: 16px;
        line-height: 1.88;
        color: #6a6a6a;
        text-align: center;
        padding: 0 120px;
        @include breakpoint(visible-till-md){
            padding: 0;
        }
    }
}
