{% extends "Base/index.html" %}
{% load static %}
{% load tags %}
{% block content %}
    <section class="categories-page">
        <div class="categorie-cover" style="background-image:url('{% static "ginekolog/img/asas.png" %}')"></div>
        <div class="section-wrapper">
            <div class="container">
                <h2 class="section-title">
                    Axtarış nəticələri
                </h2>
                <p class="section-info">
                    <span style="color: red">"{{ request.GET.q }}"</span> üçün
                    {% if search_results > 0 %}
                        {{ search_results }} nəticə tapıldı
                    {% else %}
                        nəticə tapılmadı
                    {% endif %}
                </p>

                <div class="categories-wrapper">
                    {% if search_results %}
                        <div class="row categories-row">
                            <div class="col-sm-8 col-md-8">
                                <div class="row">

                                    {#-------------- <<<<  DOCTOR RESULTS >>>> --------------#}
                                    {% if doctor_result %}
                                        {% for doctor in doctor_result %}
                                            <div class="col-sm-6 col-md-6">
                                                <a href="{{ doctor.get_absolute_url }}">
                                                    <div class="category-item wow fadeIn"
                                                         data-wow-delay=".1s">
                                                        <div class="category-item-img" style="overflow: hidden;">
                                                            <img class="img-responsive"
                                                                 src="{{ doctor.profile_image.url }}"
                                                                 alt="no-thumb">
                                                        </div>
                                                        <div class="category-item-wrap">
                                                            <h3 class="cat-title">{{ doctor.get_doctor_name }}</h3>
                                                            <p class="cat-text">{{ doctor.description|safe|truncatewords:"10" }}</p>
                                                            <div class="cat-footer">
                                                                <span>{{ doctor.profession }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {#-------------- <<<<  DOCTOR RESULTS >>>> --------------#}

                                    {#-------------- <<<<  FLATPAGE RESULTS >>>> --------------#}

                                    {% if flatpage_result %}
                                        {% for fp in flatpage_result %}
                                            <div class="col-sm-6 col-md-6">
                                                <a href="{{ fp.get_absolute_url }}">
                                                    <div class="category-item wow fadeIn"
                                                         data-wow-delay=".1s">
                                                        <div class="category-item-img" style="overflow: hidden;">
                                                            <img class="img-responsive"
                                                                 src="{{ fp.cover.url }}"
                                                                 alt="no-thumb">
                                                        </div>
                                                        <div class="category-item-wrap">
                                                            <h3 class="cat-title">{{ fp.title }}</h3>
                                                            <p class="cat-text">{{ fp.content|safe|truncatewords:"10" }}</p>
                                                            <div class="cat-footer">
                                                                <span>{{ fp.created_at|date:"F j, Y" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {#-------------- <<<<  FLATPAGE RESULTS >>>> --------------#}

                                    {#-------------- <<<<  VIDEO RESULTS >>>> --------------#}

                                    {% if video_result %}
                                        {% for video in video_result %}
                                            <div class="col-sm-6 col-md-6">
                                                <a href="{{ video.get_absolute_url }}">
                                                    <div class="category-item wow fadeIn"
                                                         data-wow-delay=".1s">
                                                        <div class="category-item-img" style="overflow: hidden;">
                                                            <img class="img-responsive"
                                                                 src="{{ video.get_video_thumbnail_url }}"
                                                                 alt="no-thumb">
                                                        </div>
                                                        <div class="category-item-wrap">
                                                            <h3 class="cat-title">{{ video.title }}</h3>
                                                            <p class="cat-text">{{ video.description|safe|truncatewords:"10" }}</p>
                                                            <div class="cat-footer">
                                                                <span>{{ video.doctor_belongs_to.get_doctor_name }} / <br>
                                                                    {{ video.created_at|date:"F j, Y" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {#-------------- <<<<  VIDEO RESULTS >>>> --------------#}

                                    {#-------------- <<<<  PICTURE RESULTS >>>> --------------#}

                                    {% if picture_result %}
                                        {% for picture in picture_result %}
                                            <div class="col-sm-6 col-md-6">
                                                <a href="{{ picture.get_absolute_url }}">
                                                    <div class="category-item wow fadeIn"
                                                         data-wow-delay=".1s">
                                                        <div class="category-item-img" style="overflow: hidden;">
                                                            <img class="img-responsive"
                                                                 src="{{ picture.image.url }}"
                                                                 alt="no-thumb">
                                                        </div>
                                                        <div class="category-item-wrap">
                                                            <h3 class="cat-title">{{ picture.title }}</h3>
                                                            <p class="cat-text">{{ picture.description|safe|truncatewords:"10" }}</p>
                                                            <div class="cat-footer">
                                                                <span>{{ picture.doctor_belongs_to.get_doctor_name }} / <br>
                                                                    {{ picture.created_at|date:"F j, Y" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {#-------------- <<<<  PICTURE RESULTS >>>> --------------#}

                                    {#-------------- <<<<  POST RESULTS >>>> --------------#}

                                    {% if post_result %}
                                        {% for post in post_result %}
                                            <div class="col-sm-6 col-md-6">
                                                <a href="{{ post.get_absolute_url }}">
                                                    <div class="category-item wow fadeIn"
                                                         data-wow-delay=".1s">
                                                        <div class="category-item-img" style="overflow: hidden;">
                                                            <img class="img-responsive"
                                                                 src="{{ post.cover.url }}"
                                                                 alt="no-thumb">
                                                        </div>
                                                        <div class="category-item-wrap">
                                                            <h3 class="cat-title">{{ post.title }}</h3>
                                                            <p class="cat-text">{{ post.content|safe|truncatewords:"10" }}</p>
                                                            <div class="cat-footer">
                                                                <span>{{ post.author.get_doctor_name }} / <br>
                                                                    {{ post.created_at|date:"F j, Y" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {#-------------- <<<<  POST RESULTS >>>> --------------#}

                                    {# ----------- << pagination >> ------------ #}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="categories-footer">
                                                <nav>
                                                    {% if page_obj.has_previous %}
                                                        <a href="?page={{ object_list.previous_page_number }}"
                                                           aria-label="Previous" class="prev">
                                                            <i class='fa fa-chevron-left'></i>PREV
                                                        </a>
                                                    {% endif %}
                                                    <ul>
                                                        {% for page_number in paginator.page_range %}
                                                            {% if page_number == page_obj.number %}
                                                                <li class="current">
                                                                    <a>{{ page_number }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li>
                                                                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                    {% if page_obj.has_next %}
                                                        <a class="next" href="?page={{ page_obj.next_page_number }}"
                                                           aria-label="Next">
                                                            NEXT<i class='fa fa-chevron-right'></i>
                                                        </a>
                                                    {% endif %}
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    {# ----------- << pagination >> ------------ #}
                                </div>
                            </div>
                            {% if search_results > 0 %}
                                <div class="col-sm-4 col-md-4">
                                    <div class="categories-menu">
                                        <h2>Categories</h2>
                                        <ul>
                                            <li class="{% if not request.GET.category %} active {% endif %}">
                                                <a href="{% url "search" %}?q={{ request.GET.q }}">HAMISI</a></li>
                                            {% for ctg in categories %}
                                                <li class="{% if request.GET.category == ctg.type %}active{% endif %}">
                                                    <a href="{% url "search" %}?q={{ request.GET.q }}&category={{ ctg.type }}">{{ ctg.text }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        </div>
                    {% else %}
                        <p class="section-info" style="font-size: 25px"> Təəssüf ki, axtarışınız üçün heç bir nəticə
                            tapılmadı </p>
                    {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
