{% extends "Base/index.html" %}
{% load static %}
{% block content %}
    <section class="categories-page">
        <div class="categorie-cover" style="background-image:url('{{ page_options.cover.url }}')"></div>
        <div class="section-wrapper">
            <div class="container">
                <h2 class="section-title">
                    Məqalələr
                </h2>
                <p class="section-info">{{ page_options.description }}</p>

                <div class="categories-wrapper">
                    <div class="row categories-row">
                        <div class="col-sm-8 col-md-8">
                            <div class="row">
                                {% if posts %}
                                    {% for post in posts %}
                                        <div class="col-sm-6 col-md-6">
                                            <a href="{{ post.get_absolute_url }}">
                                                <div class="category-item wow fadeIn" data-wow-delay="0.1s">
                                                    <div class="category-item-img">
                                                        <img class="img-responsive"
                                                             src="{{ post.cover.url }}" alt="no-thumb">
                                                        <div class="category-name">
                                                            {% if not request.GET.category %}
                                                                {{ post.category.title }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="category-item-wrap">
                                                        <h3 class="cat-title">{{ post.title }}</h3>
                                                        {% autoescape off %}
                                                            <p class="cat-text">{{ post.content|truncatewords:"15" }}</p>
                                                        {% endautoescape %}
                                                        <div class="cat-footer">
                                                            <span>{{ post.author.get_doctor_name }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {#--------------- << pagination >> ------------------#}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="categories-footer">
                                                <nav>
                                                    {% if page_obj.has_previous %}
                                                        <a href="?page={{ object_list.previous_page_number }}"
                                                           aria-label="Previous" class="prev">
                                                            <i class='fa fa-chevron-left'></i>PREV
                                                        </a>
                                                    {% endif %}
                                                    <ul>
                                                        {% for page_number in paginator.page_range %}
                                                            {% if page_number == page_obj.number %}
                                                                <li class="current">
                                                                    <a>{{ page_number }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li>
                                                                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                    {% if page_obj.has_next %}
                                                        <a class="next" href="?page={{ page_obj.next_page_number }}"
                                                           aria-label="Next">
                                                            NEXT<i class='fa fa-chevron-right'></i>
                                                        </a>
                                                    {% endif %}
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    {#--------------- << pagination >> ------------------#}
                                {% else %}
                                    <p class="section-info" style="font-size: 25px">
                                        Sorry there is no post yet in this category</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="categories-menu">
                                <h2>Kateqoriyalar</h2>
                                <ul>
                                    <li class="{% if not request.GET.category %} active {% endif %}">
                                        <a href="{% url "posts" %}">HAMISI</a></li>
                                    {% for ctg in categories %}
                                        <li class="{% if ctg.slug == request.GET.category  %} active {% endif %}"><a
                                                href="{% url "posts" %}?category={{ ctg.slug }}">{{ ctg.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}