{% load static %}
{% load tags %}

<section class="home">
    <div class="home-slider wow fadeIn">
        <div class="home-carousel owl-carousel owl-theme">
            {% for slider in sliders %}
                <div class="carousel-item">
                    <div class="carousel-backg" style="
                            background-image: linear-gradient(272deg, rgba(255,255,255,0),#ffffff),
                            url('{{ slider.slider_image.url }}');"></div>
                    <div class="container">
                        <div class="row">
                            <div class="carousel-item-content">
                                <h2>{{ slider.header|default:"" }}</h2>
                                <h5>{{ slider.sub_header|default:"" }}</h5>
                                <div class="carousel-text">
                                    {{ slider.description|default:"" }}
                                </div>
                                {% if slider.button_text %}
                                    <a class="btn-i" href="{{ slider.button_url }}">{{ slider.button_text }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="services">
        {% for service in services %}
            <div class="service-item">
                <div class="wow zoomIn" data-wow-delay="{{ forloop.counter|data_wow_delay }}">
                    <div class="service-item-img">
                        <img src="{{ service.icon.url }}" alt="">
                    </div>
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="doctors">
        <div class="container">
            <div class="row">
                <h1 class="section-title">Həkimlər</h1>
                {% for doctor in doctors %}
                    <div class="col-sm-6 col-md-6">
                        <div class="doctors-item">
                            <div class="doctor-img wow fadeInLeft">
                                <img class="img-responsive" src="{{ doctor.profile_image.url }}" alt="">
                            </div>
                            <div class="wow pulse" data-wow-iteration="1"
                                 data-wow-duration="{{ forloop.counter|data_wow_delay }}">
                                <h2>{{ doctor.get_doctor_name }}</h2>
                                <h5>{{ doctor.profession }}</h5>
                                <ul>
                                    {% for sn in doctor.socialnetworkaddresses_set.all %}
                                        <li>
                                            <a href="{{ sn.url }}">
                                                <i class="fa fa-{{ sn.title }}"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="statistics">
        <div class="statistics-layer"></div>
        <div class="container">
            <div class="row">
                {% for service in c_services %}
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="statistics-item">
                            <div class="statistic-img wow pulse">
                                <img class="img-responsive" src="{{ service.icon.url }}" alt="">
                            </div>
                            <span class="number">
                                <span class='counter-value' data-count="{{ service.count }}">0</span>
                                {% if service.more %}+{% endif %}
                            </span>
                            <div class="line"></div>
                            <h3 class="wow flipInX">{{ service.title }}</h3>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="videos">
        <div class="container">
            <div class="row">
                <h1 class="section-title">Videolar</h1>
                <div class="video-carousel owl-carousel owl-theme">
                    <div class="carousel-row">
                        {% for video in videos %}
                            <div class="col-sm-6 col-md-4">
                                <div class="gallery-item wow fadeInUp"
                                     data-wow-delay="{{ forloop.counter|data_wow_delay }}">
                                    <a class="video-link" href="{{ video.url }}">
                                        <div class="gallery-icon">
                                            <img class="img-responsive"
                                                 src="{% static "ginekolog/img/video-icon.svg" %}"
                                                 alt="">
                                        </div>
                                        <div class="gallery-img"
                                             style="background-image:url('{{ video.get_video_thumbnail_url }}')"></div>
                                    </a>
                                    <h5 class="gallery-text">{{ video.title | safe | truncatewords:"15" }}</h5>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:"6" %}
                                </div>
                                <div class="carousel-row">
                            {% endif %}
                        {% endfor %}

                        </div>
                </div>
                <a class="btn-r" href="{% url "videos" %}?category=all">
                    Bütün videolar
                </a>
            </div>
        </div>
    </div>

    <div class="photos">
        <div class="container">
            <div class="row">
                <h1 class="section-title">Şəkillər</h1>
                <div class="photo-carousel owl-carousel owl-theme">
                    <div class="carousel-row">
                        {% for picture in pictures %}
                            <div class="col-sm-6 col-md-4">
                                <div class="gallery-item wow fadeInUp"
                                     data-wow-delay="{{ forloop.counter|data_wow_delay }}">
                                    <a class="photo-link" href="{{ picture.image.url }}">
                                        <div class="gallery-icon">
                                            <img class="img-responsive"
                                                 src="{% static "ginekolog/img/photo-icon.svg" %}"
                                                 alt="">
                                        </div>
                                        <div class="gallery-img"
                                             style="background-image:url('{{ picture.image.url }}')"></div>
                                    </a>
                                    <h5 class="gallery-text">{{ picture.title }}</h5>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:"6" %}
                                </div>
                                <div class="carousel-row">
                            {% endif %}
                        {% endfor %}
                        </div>

                </div>
                <a class="btn-r" href="{% url "pictures" %}">Bütün şəkillər</a>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="container">
            <div class="row">
                <h1 class="section-title">Məqalələr</h1>
                <div class="blog-carousel owl-carousel owl-theme">
                    <div class="carousel-row">
                        {% for post in posts %}
                            <div class="col-sm-6 col-md-4">
                                <div class="blog-item wow fadeInUp"
                                     data-wow-delay="{{ forloop.counter|data_wow_delay }}">
                                    <div class="blog-details">
                                        <div class="blog-text">
                                            <h5>{{ post.title }}</h5>
                                            <p>{{ post.content|safe|truncatewords:"20" }}</p>
                                        </div>
                                        <div class="blog-img">
                                            <img class="img-responsive" src="{{ post.cover.url }}" alt="">
                                        </div>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}" class="blog-btn">
                                        Daha ətraflı
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <a class="btn-r" href="{% url "posts" %}">Bütün məqalələr</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="map">
            <div class="contact-items wow bounceInLeft" data-wow-delay="0.7s">
                <div class="contact-item">
                    <h5 class="contact-item-title">Ünvan</h5>
                    <ul>
                        <li style="white-space: pre-wrap;">{{ doctors.first.address|safe }}</li>
                    </ul>
                </div>
                <div class="contact-item">
                    <h5 class="contact-item-title">Əlaqə</h5>
                    <ul>
                        {% for doctor in doctors %}
                            <li>{{ doctor.profession }}</li>
                            <li>{{ doctor.get_doctor_name }}</li>
                            <li>{{ doctor.phone_number }}</li>
                            <div class="contact-line"></div>
                            {% if forloop.counter|divisibleby:doctors.Count %}
                                <div class="contact-line"></div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97260.34098206263!2d49.799863058994454!3d40.378144490897796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403063737e96e061%3A0x5b925e8db0b28d35!2sBaku+Medikal+Plaza!5e0!3m2!1saz!2s!4v1520497498140"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen>
            </iframe>
        </div>
    </div>

</section>