{% extends "Base/index.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load static %}
{% block content %}
    <section class="categories-page">
        <div class="categorie-cover" style="background-image:url('{{ page_options.cover.url}}')"></div>
        <div class="section-wrapper">
            <div class="container">
                <div class="categories-wrapper">
                    <div class="row categories-row">
                        <div class="col-sm-9 col-md-9">
                            <div class="detail wow fadeIn">
                                <div class="detail-img">
                                    <img class="img-responsive" src="{{ post.cover.url }}" alt="">
                                </div>
                                <div class="detail-text">
                                    <h1>{{ post.title }}</h1>
                                    {{ post.content|safe }}
                                </div>
                                <div class="detail-foot">
                                    <span>by <a href="{{ post.author.get_absolute_url }}">{{ post.author.get_doctor_name }}</a>  / <br> {{ post.created_at|date:"D d M Y" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="categories-menu">
                                <h2>Kateqoriyalar</h2>
                                <ul>
                                    <li >
                                        <a href="{% url "posts" %}">HAMISI</a></li>
                                    {% for ctg in categories %}
                                        <li class="{% if ctg.slug == post.category.slug %} active {% endif %}"><a
                                                href="{% url "posts" %}?category={{ ctg.slug }}">{{ ctg.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
