{% extends "Base/index.html" %}

{% block title %}Unhandled error{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center server-error">
                <p> Gözlənilmə server xətası baş verdi! </p>
                <a href="{% url "index" %}">Geri</a>
            </div>
        </div>
    </div>
{% endblock %}